.filters-current {
    border-radius: 5px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  .filters-title {
    font-size: 14px;
    font-weight: bold;
    margin: 8px;
    color: #b9b9b9;
  }
  
  .filters-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .filter-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 8px;
    border: 1px solid #b1c5db;
    border-radius: 5px;
    font-size: 14px;
	color: #b1c5db;
  }

  .filter-item.active{
    border:1px solid red; 
    color: red; 
  }
  
  .filter-value {
    margin-left: 5px;
    margin-right: auto;
    min-width: 50px;
  }
  
.filter-cross {
    margin-left: 5px;
    cursor: pointer;
    font-size: 10px;
    align-self: flex-end;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: -5px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

.filter-cross:hover { 
	color: red;
}
/* ============================ */
  .delete {
    display: none;
    position: absolute;
    background-color: rgba(9, 49, 105, 0.932);
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    padding: 0px 8px;
    min-width:120px;
    left: 18%;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    border-style:ridge;
    border-width: thin;
    border-color: white;
  }
  
  .selected-filter-wrapper:hover .dropdown-menu {
    display: block;
  }
  
  .delete-all-button {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px ;
    font-family: Arial, Helvetica, sans-serif;
  }
  .tooltip {
    --bs-tooltip-color:  rgb(246, 242, 242);
    --bs-tooltip-bg: rgb(17, 92, 196);
   }

@media (max-width: 768px) {
  .filters-current {
    gap: 20px;
  }
  
}

@media (max-width: 576px) {
  .filters-title {
    font-size: 12px;
    margin: 4px; 
    /* font-weight:300;  */
  }
  .filter-item {
    margin-right: 4px;
    font-size: 12px;
    
  }
  .filters-list {
    flex-direction: column;
    
  }
  .delete {
   
    min-width:90px;
    left: 3%;
  }
  .delete-all-button {
    font-size: 10px ;
   
  }
  
  
}
